name: Build and push docker image

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:

  build-and-push-docker-image:

    runs-on: ubuntu-latest
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
    env:
      CONTAINERNAME: database
      SCHEMA: live
      POSTGRES_DB: oereb
      PG_GRETL_PWD: ${{ secrets.PG_GRETL_PWD }}
      ILI2PG_VERSION: 4.9.1

    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Install ili2db
        run: |
          ./scripts/install_ili2pg.sh

      - name: Start database structure
        run: |
          ./scripts/start_target_db.sh
      - name: Insert ch.BelasteteStandorte
        run: |
          ./scripts/ch.BelasteteStandorte_v2_0.insert.sh

      - name: Shut down DB container
        run: |
          ./scripts/stop_target_db.sh

      - name: Build Image
        run: |
          docker commit $CONTAINERNAME ghcr.io/${{ github.repository }}:latest
          docker tag ghcr.io/${{ github.repository }}:latest ghcr.io/${{ github.repository }}:${{ github.ref_name }}
      - name: Push image tags
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
          docker push ghcr.io/${{ github.repository }}:${{ github.ref_name }}
